<%- include('../partials/header') %>
<div class="content">
  <h1>Project Builder</h1>

  <form action="/your-projects/<%= user._id%>/project-builder/<%= projectID%>?_method=PUT" method="POST">
    <label>Project Title:</label>
    <BR />
    <BR />
    <input type="text" name="Name" placeholder="<%= project.Name %>" />
    <button type="submit">Save Name</button>
  </form>

  <HR />
  <h4>Project List</h4>
  <% if (project.Items.length) { %>
  <table id="list">
    <thead>
      <tr>
        <th>Item</th>
        <th>Supplier</th>
        <th>Category</th>
        <th>Quality</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
<div>


</div>
    <tbody>
        <% project.Items.forEach(function(i) { %>
      <tr>
        <td><%= i.Name%></td>
        <td><%= i.Supplier %></td>
        <td><%= i.Category_ID %></td>
        <td><%= i.Quality %> / 3</td>
        <td>$<%= i.Price %></td>
        <td>
          <form action="/your-projects/<%= user._id%>/project-builder/<%= projectID%>/items/<%= i._id%>?_method=DELETE" method="POST">
            <input type="hidden" name="Price" value="<%= i.Price%>">
            <button class="red" type="submit">Delete Item</button>
          </form>
          
        </td>
      </tr>
      <% }); %>
  </tbody>
  </table>

  <% } else { %>
    <div class="infotext">
      <div>Use the Project Builder below to add Items to your list.</div>
      <div>Your selected Items will appear below here.</div>
    </div>
  <% } %>

 


      <h4 class="total-cost">
        <div></div>
        Total Project Cost: $<%= TPC%> <div></div><div></div></h4>
      <HR />
      <h4>Project Builder</h4>
      <HR />

      <form
        action="/your-projects/<%=user._id%>/project-builder/<%=projectID%>/add-items"
        method="GET"
      >
        <button class="big-button" type="submit">+ Add Single Item</button>
      </form>

      <HR />
      <h6> Your project will auto-save.</h6>
      <form action="/your-projects/<%= user._id%>/project-builder/<%= projectID%>?_method=DELETE" method="POST">
        <button class="red" type="submit">Delete Project</button>
      </form>

      <%- include('../partials/footer') %>
    </tr>
  </tbody>
</div>
