<%- include('../partials/header') %>
<div class="content">
  <h3>Project Builder</h3>

  <form action="/your-projects/project-builder/:id" method="PUT">
    <label>Project Title:</label>
    <BR />
    <BR />
    <input type="text" name="Name" placeholder="<%= project.Name %>" />
    <button type="submit">Save Name</button>
  </form>
  <HR />
  <h4>Project List</h4>
  <% if (project.Items.length) { %>
  <table id="list">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Supplier</th>
        <th>Category</th>
        <th>Quality</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
<div>


</div>
    <tbody>
        <% project.Items.forEach(function(i) { %>
      <tr>
        <td><%= i.Name%></td>
        <td><%= i.Supplier %></td>
        <td><%= i.Category_ID %></td>
        <td><%= i.Quality %> / 3</td>
        <td>$<%= i.Price %></td>
        <td>
          <form action="" method="DELETE">
            <button class="red" type="submit">Delete Item</button>
          </form>
          
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>

  <% } else { %>
    <div class="infotext">
      <div>Use the Project Builder below to add Items to your list.</div>
      <div>Your selected Items will appear below here.</div>
    </div>
  <% } %>

 


      <h4 class="total-cost">
        <div></div>
        Total Project Cost: $<%= TPC%> <div></div><div></div></h4>
      <HR />
      <h4>Add items below:</h4>
      <HR />

      <form
        action="/your-projects/project-builder/<%=projectID%>/add-items"
        method="GET"
      >
        <button class="big-button" type="submit">+ Add Single Item</button>
      </form>

      <HR />
      <h6> Your project will auto-save.</h6>

      <%- include('../partials/footer') %>
    </tr>
  </tbody>
</div>
