<%- include('../partials/header') %>


<div class="content">


  <h1>Your Projects</h1>
  <HR />


  <% if (user.projects.length) { %>
 

    <table id="list">
        <thead>
          <tr>
            <th>ID</th>
            <th>Project Title</th>
            <th>Time Created</th>
            <th>Total Project Cost</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
  <% user.projects.forEach(function(p) { %>
    <tr>
  <td>#<%= p._id.toString().slice(21,24)%></td>
  <td><%= p.Name %> </td>
  <td> 
    <%= p.createdAt.getHours() %>:<%= p.createdAt.getMinutes() %>:<%= p.createdAt.getSeconds() %>
    (<%= p.createdAt.getDate() %>-<%= p.createdAt.getMonth() %>-<%= p.createdAt.getFullYear() %>)
  </td>
  <% let TPC = p.Total_Project_Cost.reduce((a, b) => a + b, 0) %>
<td> $<%= TPC %></td>
  <td>
    <form action="/your-projects/<%= user._id %>/project-builder/<%= p._id %>" method="GET">
    <button type="submit">View/Edit</button>
    </form>
  </td>
</tr>
      <% }); %>
    </tbody>
</table>

<% } else { %>
  <h3>Let's get started!</h3>
  <div class="infotext">
    
     <div>Create a new project and add the items you need for your next landscaping project.</div>
  </div>
<% } %>

      <HR>
    <BR>
        <form action="/your-projects/<%= user._id %>" method="POST">
            <button class="big-button" type="submit">+ Build New Project</button>
        </form>
      <%- include('../partials/footer') %>
  </div>
</div>
